<p>Nombre del Empleado: {{nombre.value}}</p>
<p>Apellido del Empleado: {{apellido}}</p>
<p>Edad del Empleado: {{getEdad()>18 ? "Mayor de edad" : "Menor de edad"}}</p>
<p>Empresa del Empleado: {{empresa.value}}</p>
<p>Empresa con binding bidireccional: {{empresa2}}</p>

Introduce nombre: <input type="text" #nombre (keyup)=0 [disabled]="deshabilitacionCuadro">

Introduce la empresa: <input type="text" #empresa>
Introduce la empresa2: <input type="text"[(ngModel)]="empresa2">  <!--(input)="cambiaEmpresa2($event)"> -->
<br/>
<br/>

<input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)">

<br/>
<br/>
{{textoDeRegistro}}<br/>
Registrado: <input type="radio" value="si" name="nRegistro" id="registro" [checked]="usuRegistrado" (click)="setUsuarioRegistrado($event)">
No Registrado: <input type="radio" value="no"  name="nRegistro" (click)="setUsuarioRegistrado($event)">

{{getRegistroUsuario()}}